{#fragment id=head}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    body {
        background-image: url('static/images/bg2.jpeg');
        background-size: cover;
        /* This ensures the image covers the entire background */
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* This keeps the background image fixed during scrolling */
        background-position: center;
        /* This centers the image */
    }
</style>


{/fragment}